/*SCROLL BAR*/

::-webkit-scrollbar {
    width: 10px;
    background-color: #120b33;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);

}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #392c67;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background-color: #868686;
}

/*GLOBAL*/

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image: url("images/FONDO TOTAL3.jpg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
}
hr {
    margin: 0;
    opacity: 0.3;
    width: 60%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


/*SCROLL TO SEE MORE */

#vertical {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(100% - 48px);
    text-align: center;
    font-weight: bold;
    /*opacity: 0;*/
}
.wrapper {
    color: white;
    position: absolute;
    margin-right: -100%;
    transform: rotate(90deg) translate(0, -15px);
    transform-origin: left bottom;
    width: 100vh;
}

/*NAV BAR */

.navVar {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;

}
.fullContainer {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, rgba(130, 130, 130, 0.00043767507002800965) 53%);
    backdrop-filter: blur(5px);
    display: flex;
    z-index: 15;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.intemContainer {
    display: flex;
}
.navVar a {
    color: white;
    text-decoration: none;
    margin: 20px 0 15px 0;
    opacity: 0.9;
    padding: 0 35px;
}
.divitorNav {
    -webkit-box-shadow: -13px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -13px 0px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0px 0px 0px rgb(255, 255, 255);
}


/*HERO SECTION*/
.heroSection {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-top: 1rem;
    overflow: hidden;

}
.heroContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;

}

.heroColumLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 30%;
    position: relative;


}

.heroColumLeft h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    line-height: 6rem;
}

.heroColumLeft hr {
    opacity: 1;
    width: 55%;
    margin: 2.1rem 0 2.8rem 0;
    height: 13px;
    border-radius: 30px;
    background: linear-gradient(
            to right,
            hsl(264, 61%, 43%),
            hsl(230, 91%, 69%)
    );
    border-width: 0;


}

.heroColumLeft span {
    background: linear-gradient(
            to right,
            hsl(264, 61%, 43%),
            hsl(230, 91%, 69%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heroColumLeft a {
    color: white;
    text-decoration: none;
}

.heroColumLeft p {
    font-weight: bold;
    font-size: 1.1rem;
}

.buttonsHero {
    margin: 5rem 0 0 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.buttonContact {
    background-color: #5b56bd;
    border-radius: 10px;
    border-width: 0;
    padding: 0.6rem 2.4rem;
    color: white;
    margin: 0 2.5rem 0 0;
    font-weight: bold;
    font-size: 0.9rem;
}

.heroColumRight {
    position: relative;
    min-width: 37.5rem;
    max-width: 40%;
}

.macImage {
    width: 100%;
}

.backgroundCircle {
    position: absolute;
    z-index: -1;
    width: 1200px;
    top: -100px;
    right: -205px;
    opacity: 0.4;
}

.heroColumRight2 {
    display: none;
}

.backgroundCircle2 {
    position: absolute;
    z-index: -1;
    width: 600px;
    left: 0;
    display: none;
    opacity: 0.4;
}


/*DESIGN SECTION */


.designSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.designSection p {
    opacity: 0.6;
}

.myPrinciples {
    width: 60%;
    position: absolute;
    opacity: 0.1;
    top: 0;
    bottom: 0;
    border: solid 1px;
    border-radius: 10px;
}

.designContainer {
    width: 80%;
    justify-content: space-around;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 0 3.1rem 0;
}

.designContainer div {

    display: flex;
    align-items: center;
    width: 18.75rem;
    height: 6.25rem;
    background-color: rgb(87 72 97 / 10%);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: rgb(91 86 189 / 28%) 20px -30px 30px -28px inset;

}


.designContainer div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 2px;
    background: radial-gradient(rgba(30, 30, 30, 0.93), rgba(255, 255, 255, 0.42)) 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0.2;
}


.designContainer img {
    width: 4.375rem;
    margin: 0 0 0 1.8rem;
}

.designContainer p {
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

/*RECENT WORK SECTION*/


.recentWorkSection {
    padding: 10.62rem 0 1.25rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.recentWorkSection p {
    opacity: 0.7;
}

.recentWorkSection h3 {
    margin: 0 0 15px 0;
    opacity: 0.6;
}

.recentWorkContainer {
    overflow: hidden;
    display: flex;
    width: 90%;
    background-color: rgb(87 72 97 / 10%);
    backdrop-filter: blur(15px);
    align-items: center;
    justify-content: space-around;
    text-align: left;
    align-content: center;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-top: 0.9rem;
    box-shadow: rgb(91 86 189 / 28%) 20px -30px 30px -28px inset;

}

.recentWorkContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 2px;
    background: radial-gradient(rgba(30, 30, 30, 0.93), rgba(255, 255, 255, 0.42)) 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0.1;
}

.colLeft, .colRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 43%;
    margin: 4.3rem 0;
}

.colLeft h2 {
    margin: 0 0 2.5rem 0;
}

.colLeft p {
    margin: 1.8rem 0 3.1rem 0;
}

.colRight p {
    margin: 2.81rem 0 1rem 0;
}

.imageRecentContainer {
    display: flex;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.imageRecentContainer img {
    width: 100%;
}

.botoneraDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    opacity: 0.8;
}
.botoneraDiv h5 {
    margin: 0;
}

.madeWith p {
    opacity: 0.6;
    margin: 0 15px 0 0;
    text-align: left;
}

.madeWith {
    display: flex;
    margin: 0 auto 15px 0;
    flex-direction: column;
}

.madeWithIcons {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 0;
    max-width: 8rem;
    min-width: 7rem;
}

.buttons {
    display: flex;
    width: 100%;
    align-items: center

}

.buttonInline {

    height: 1.8rem;
    width: 90%;
    min-width: 6.25rem;
    border: 2px solid rgba(255, 255, 255, 0.71);
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 1.8rem 0 0;
    cursor: not-allowed;

}

.buttonCode {
    text-decoration: none;
    max-width: 3.7rem;
    min-width: 3.7rem;
    cursor: not-allowed;
    color: white;
}


/*MORE PROYECTS */

.moreProyectsSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5.6rem 0 8.1rem 0;
}

.moreProyectsSection button {
    width: 11.8rem;
    margin: 70px 0 0 0;
    border: 0;
    border-radius: 0.6rem;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    padding: 0.6rem;
    color: white;
}

.moreProyectsSection p {
    opacity: 0.7;
    margin: 6rem 5% 3.1rem 5%;
    text-align: center;
}

.moreProyectsSection h3 {
    margin: 0 0 45px 0;
    text-align: left;
    opacity: 0.6;

}

.moreProyects {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
    justify-content: space-between;
    gap: 30px;


}

.moreProyects div {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    background-color: rgb(87 72 97 / 10%);
    backdrop-filter: blur(15px);
    width: 28%;
    min-width: 20.18rem;
    height: 170px;
    border-radius: 5px;
    box-shadow: rgb(91 86 189 / 28%) 20px -30px 30px -28px inset;
    overflow: hidden;
}



.moreProyects div a {
    color: white;
    text-decoration: none;
    max-width: 3.9rem;
    opacity: 0.7;
    text-align: left;
    line-height: 19px;
    cursor: not-allowed;
}

.moreProyects div i {
    opacity: 0.7;
    cursor: not-allowed;
}

.moreProyects div h3 {
    margin: 0;
    opacity: 1;
}

.moreProyects div:nth-child(1) a {
    cursor: pointer;
}

.moreProyects div:nth-child(1):hover {
    background-image: url("images/Portfolio.jpg");
    background-size: cover;
}

.moreProyects div:nth-child(2):hover {
    background-image: url("images/EGO.jpg");
    background-size: cover;
}

.moreProyects div:nth-child(3):hover {
    background-image: url("images/BURGER.jpg");
    background-size: cover;
}


.moreProyects div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 2px;
    background: radial-gradient(rgba(30, 30, 30, 0.93), rgba(255, 255, 255, 0.42)) 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0.2;
}


/*ABOUT ME SECTION*/

.aboutMeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}


.aboutmeText {

    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 11.25rem 0 11.25rem 0;
    justify-content: space-evenly

}

.aboutmeText div {
    width: 50%;
    margin: 15px 0 0 0;

}

.aboutmeText div a {
    color: #b7b7b7;
    text-decoration: none;
    font-weight: bold;
}

.aboutmeText p {
    margin: 0;
}

.aboutmeText h1 {
    font-weight: bold;
    font-size: 3.43rem;
    margin: 0;
    letter-spacing: 1.5rem;
    max-width: 19.375rem;
}

/*SKILLS SECTION*/

.skillsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.skillsSection h3 {
    margin: 0;
    padding: 7.5rem 0 0 0;
    opacity: 0.6;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    width: 86%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5.6rem 0 12.5rem 0;
    text-align: center;
    gap: 5.6rem;
}

.skillsContainer div {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-width: 12.3rem;
    padding: 0.625rem 0;
    border-radius: 0.3rem;
}

.skillsContainer div img{
    width: 60px;
    margin: 0 0.6rem 0 0.93rem;
}

/*FOOTER SECTION*/

.footerSection {
    background-color: rgb(139 112 179 / 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(91 86 189 / 28%) 20px -30px 30px -28px inset;
    width: 100%;

}

.footerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.footerText {
    display: flex;
    position: relative;
    text-align: left;
    flex-direction: column;
    margin: 7.5rem 0 9.37rem 0;

}

.footerText h1 {
    font-size: 3.438rem;
    margin: 0;
}

.footerText span {
    position: absolute;
    margin: 15px 0 0 10px;

}

.footerItems {
    display: flex;
    margin: 0 0 3.12rem 0;
    justify-content: space-between
}


.footerItems a {
    opacity: 0.7;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.footerItems i {
    margin: 0 20px 0 0;
}


/*RESPONSIVE */

@media only screen and(max-width: 90rem) {
    .heroColumRight {

        min-width: 33.5rem;
        max-width: 35%;

    }

    .heroColumLeft h1 {

        font-size: 4rem;
        line-height: 5rem;
    }

    .heroColumLeft p {
        font-size: 1rem;

    }

    .heroColumLeft hr {
        margin: 1.25rem 0 2.18rem 0;

    }

    .buttonsHero {
        margin: 3.8rem 0 0 0;


    }

    .heroColumLeft button {

        font-size: 0.8rem;

    }

    .backgroundCircle {

        width: 1100px;

    }

    .moreProyects {

    }


    .moreProyects div {
        min-width: 46%;
        margin: 20px auto;
    }


}

@media only screen and (max-width: 78.43rem) {

    .heroSection {
        min-height: 85vh;
    }

    .heroColumRight {

        min-width: 28.5rem;
        max-width: 35%;

    }


    .heroColumLeft h1 {

        font-size: 3.5rem;
        line-height: 4.6rem;
    }

    .heroColumLeft p {
        font-size: 0.8rem;

    }

    .heroColumLeft hr {

        margin: 1.25rem 0 2rem 0;


    }

    .buttonsHero {
        margin: 3rem 0 0 0;


    }

    .heroColumLeft button {

        font-size: 0.8rem;

    }

    .wrapper {
        opacity: 0.8;
        transform: rotate(90deg) translate(0, -1px);

    }

    .heroContainer {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
        /*gap: 10rem;*/
    }

    .backgroundCircle {

        width: 900px;

    }

}

@media only screen and (max-width: 71.43rem) {

    .heroColumRight {

        min-width: 25.5rem;
        max-width: 35%;

    }


    .heroColumLeft h1 {

        font-size: 3rem;
        line-height: 4rem;
    }

    .heroColumLeft p {
        font-size: 0.7rem;

    }

    .buttonsHero {
        margin: 3rem 0 0 0;


    }

    .heroColumLeft button {

        font-size: 0.7rem;

    }

    .wrapper {
        opacity: 0.8;
        transform: rotate(90deg) translate(0, -1px);
        font-size: 14px;

    }

    .heroContainer {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        justify-content: space-around;
        /*gap: 10rem;*/
    }

    .heroColumLeft hr {


        margin: 1.25rem 0 2rem 0;
        height: 8px;
        border-radius: 30px;
        background: linear-gradient(
                to right,
                hsl(264, 61%, 43%),
                hsl(230, 91%, 69%)
        );
        border-width: 0;


    }

    .backgroundCircle {

        width: 800px;

    }

    .recentWorkContainer {
        flex-direction: column;
        text-align: center;
    }

    .recentWorkContainer h2 {
        margin: 0 auto 2.5rem auto;
    }

    .colLeft, .colRight {
        width: 90%;

    }

    .colLeft {
        margin: 60px 0 0 0;
    }

    .moreProyects div {
        min-width: 100%;
    }

    .aboutmeText {
        flex-direction: column;
        width: 85%;
    }

    .aboutmeText h1 {
        text-align: center;
        min-width: 30.31rem;
        margin: auto;
    }

    .aboutmeText div {
        text-align: center;
        width: 100%;
        margin: 70px 0 0 0;
    }
}

@media only screen and (max-width: 58.56rem) {


    .heroColumRight {

        display: none;


    }

    .heroColumLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 30%;

        margin: 130px 0;


    }

    .backgroundCircle2 {
        display: revert;
    }

    .heroColumLeft h1 {

        font-size: 4rem;
        line-height: 5rem;
    }

    .heroColumLeft p {
        font-size: 1rem;

    }

    .buttonsHero {
        margin: 3rem 0 0 0;


    }

    .heroColumLeft button {

        font-size: 0.7rem;

    }

    .wrapper {
        opacity: 0.8;
        transform: rotate(90deg) translate(0, -1px);
        font-size: 14px;

    }

    .heroContainer {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        justify-content: space-around;
        /*gap: 10rem;*/
    }

    .heroColumLeft hr {


        margin: 1.25rem 0 2rem 0;
        height: 8px;
        border-radius: 30px;
        background: linear-gradient(
                to right,
                hsl(264, 61%, 43%),
                hsl(230, 91%, 69%)
        );
        border-width: 0;


    }

    .backgroundCircle {

        width: 800px;

    }


}

@media only screen and (max-width: 48rem) {


    #vertical {
        opacity: 0;
    }

    .aboutmeText h1 {
        min-width: 100%;
    }


}

@media only screen and (max-width: 35.625rem) {

    .skillsContainer {
        gap: 2.6rem;
        width: 90%;

    }


}

@media only screen and (max-width: 31.255rem) {
    .skillsContainer {
        gap: 1.5rem;

    }

    .boxSkills {
        min-width: 9.9rem;
        align-items: center

    }

    .boxSkills p {
        font-size: 13px;
    }

    .boxSkills img {
        width: 40px;
    }

    .footerText h1 {
        font-size: 3rem;
        margin: 0;
    }

    .footerItems i {
        margin: 0;
    }

    .footerItems a {
        display: flex;
        flex-direction: column;
    }

    .navVar a {
        padding: 0 25px;
    }


}

@media only screen and (max-width: 24rem) {
    .footerText h1 {
        font-size: 2.1rem;
        margin: 0;
    }

    .skillsContainer {
        flex-direction: column;

    }

    .boxSkills {
        min-width: 100%;
        align-items: center

    }

    .boxSkills p {
        font-size: 16px;
        margin: auto;
    }

    .boxSkills img {
        width: 60px;
    }

    .navVar a {
        padding: 0 15px;
    }

    .heroColumLeft h1 {
        font-size: 3.4rem;
        line-height: 4.1rem;
    }

    .buttonContact {
        margin: 0 1.5rem 0 0;
        padding: 0.6rem 1rem;
    }

}

@media only screen and (max-width: 17.5rem) {

    .footerText h1 {
        font-size: 1.7rem;
        margin: 0;
    }
}

